{% extends 'base.html' %}

{% block title %}
  Reset Password
{% endblock %}

{% block content %}
  <section class="login_section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="inner_area">
            <form action="" method="post">
              {% csrf_token %}
              <div class="title">
                <h3>Reset Password</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
              <div class="form_area">
                <div class="row">
                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <label class="set_error" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
                      {{ form.new_password1 }}
                      <p class="text-danger">{{ form.errors.new_password1.0 }}</p>
                    </div>
                  </div>
                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <label class="set_error" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
                      {{ form.new_password2 }}
                      <p class="text-danger">{{ form.errors.new_password2.0 }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn_login">
                <button type="submit" class="btn-primary">Reset Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
