@use "../base/variable.scss";
@use "../base/mixins.scss";


.blog_section{
	padding: 90px 0;
	.inner_area{
		.blog_card{
			background-color: variable.$secondary_color;
			margin-bottom: 20px;
			.img_area{
				height: 275px;
				@include mixins.transition(all .5s ease-in-out);
				overflow: hidden;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
					@include mixins.transition(all .5s ease-in-out);
					@include mixins.scale(1);
				}
				&:hover,&.active{
					img{
						@include mixins.scale(1.1);
					}
				}
			}
			.content{
				padding: 15px;
				.date_main{
					display: flex;
					align-items: center;
					margin-bottom: 15px;
					i{
						font-size: 14px;
						color: variable.$white;
						width: 14px;
						flex-shrink: 0;
						margin-right: 8px;
					}
					.text{
						font-size: 14px;
						font-weight: 400;
						color: variable.$white;
					}
				}
				h4{
					font-size: 16px;
					font-weight: 400;
					color: variable.$white;
					margin-bottom: 10px;
				}
				.txt_line{
					font-size: 14px;
					font-weight: 400;
					color: variable.$white;
					margin-bottom: 20px;
				}
				.read_btn{
					font-size: 14px;
					font-weight: 500;
					color: variable.$primary_color;
					@include mixins.transition(all .5s ease-in-out);
					i{
						margin-left: 8px;
						position: relative;
						top: 1px;
						@include mixins.transition(all .5s ease-in-out);
					}
					&:hover,&.active{
						i{
							margin-left: 12px;
						}
					}
				}
			}
		}
	}
}

.blog_detail_section{
	padding: 60px 0;
	.inner_area{
		h1,h2,h3,h4,h5,h6{
			font-weight: 600;
			color: variable.$white;
			margin-top:25px;
			&:first-child{
				margin-top: 0;
			}
		}
		h1{
			font-size: 26px;
		}
		h2{
			font-size: 24px;
		}
		h3{
			font-size: 22px;
		}
		h4{
			font-size: 20px;
		}
		h5{
			font-size: 18px;
		}
		h6{
			font-size: 16px;
		}
		p{
			font-size: 14px;
			font-weight: 400;
			color: variable.$white;
			margin-top: 15px;
			line-height: 22px;
		}
		ul{
			margin-top: 15px;
			li{
				font-size: 14px;
				font-weight: 400;
				color: variable.$white;
				line-height: 22px;
				margin-bottom: 15px;
				padding-left: 25px;
				position: relative;
				&::before{
					content:"";
					height: 6px;
					width: 6px;
					border-radius: 50%;
					background-color: variable.$white;
					position: absolute;
					top:0;
					left:0;
					margin-left: 10px;
					margin-top: 8px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		ol{
			margin-top: 15px;
			padding-left: 25px;
			li{
				font-size: 14px;
				font-weight: 400;
				color: variable.$white;
				line-height: 22px;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}


/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .blog_section{
    	padding: 70px 0;
    }
    .blog_detail_section{
    	padding: 50px 0;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .blog_section{
    	padding: 60px 0;
    }
    .blog_detail_section{
    	padding: 45px 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.blog_section{
    	padding: 40px 0;
    	.inner_area{
    		.row{
    			margin-left: -8px;
    			margin-right: -8px;
    			[class*=col-]{
    				padding-left: 7px;
    				padding-right: 7px;
    			}
    		}
    		.blog_card{
    			margin-bottom: 15px;
    			.img_area{
    				height: 216px;
    			}
    		}
    	}
    }
    .blog_detail_section{
    	padding: 40px 0;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.blog_section{
    	padding: 35px 0;
    	.inner_area{
    		.row{
    			margin-left: -8px;
    			margin-right: -8px;
    			[class*=col-]{
    				padding-left: 7px;
    				padding-right: 7px;
    			}
    		}
    		.blog_card{
    			margin-bottom: 15px;
    			.img_area{
    				height: 156px;
    			}
    		}
    	}
    }
    .blog_detail_section{
    	padding: 35px 0;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.blog_section{
    	padding: 30px 0;
    	.inner_area{
    		.row{
    			margin-left: -8px;
    			margin-right: -8px;
    			[class*=col-]{
    				padding-left: 7px;
    				padding-right: 7px;
    			}
    		}
    		.blog_card{
    			margin-bottom: 15px;
    			.img_area{
    				height: 208px;
    			}
    		}
    	}
    }
    .blog_detail_section{
    	padding: 30px 0;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.blog_section{
    	padding: 30px 0;
    	.inner_area{
    		.row{
    			margin-left: -8px;
    			margin-right: -8px;
    			[class*=col-]{
    				padding-left: 7px;
    				padding-right: 7px;
    			}
    		}
    		.blog_card{
    			margin-bottom: 15px;
    			.img_area{
    				height: 236px;
    			}
    		}
    	}
    }
    .blog_detail_section{
    	padding: 30px 0;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.blog_section{
    	padding: 30px 0;
    	.inner_area{
    		.row{
    			margin-left: -8px;
    			margin-right: -8px;
    			[class*=col-]{
    				padding-left: 7px;
    				padding-right: 7px;
    			}
    		}
    		.blog_card{
    			margin-bottom: 15px;
    			.img_area{
    				height: 236px;
    			}
    		}
    	}
    }
    .blog_detail_section{
    	padding: 30px 0;
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {

}