@use "../base/variable.scss";
@use "../base/mixins.scss";


.edit_profile_section{
	padding: 90px 0;
	.inner_edit{
		width: 750px;
		max-width: 100%;
		margin: 0 auto;
		background-color: variable.$secondary_color;
		padding: 40px;
		.profile_image{
			height: 138px;
			width: 138px;
			margin: 0 auto;
			position: relative;
			margin-bottom: 35px;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			.edit_icon{
				height: 30px;
				width: 30px;
				border-radius: 5px;
				background-color: variable.$primary_color;
				position: absolute;
				bottom: 0;
				right: 0;
				text-align: center;
				align-content: center;
				margin-bottom: 8px;
				margin-right: 8px;
				i{
					font-size: 16px;
					color: variable.$white;
				}
			}
		}
		.form_area{
			.btn_save{
				margin-top: 40px;
				text-align: center;
			}
		}
	}
}



/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .edit_profile_section{
    	padding: 70px 0;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .edit_profile_section{
    	padding: 60px 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.edit_profile_section{
    	padding: 40px 0;
    	.inner_edit{
    		width: 670px;
    		padding: 30px;
    		.profile_image{
    			height: 120px;
    			width: 120px;
    			margin-bottom: 30px;
    			.edit_icon{
    				height: 28px;
    				width: 28px;
    				i{
    					font-size: 13px;
    				}
    			}
    		}
    		.form_area {
    			.btn_save{
    				margin-top: 25px;
    			}
    		}
    	}
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.edit_profile_section{
    	padding: 35px 0;
    	.inner_edit{
    		width: 670px;
    		padding: 30px;
    		.profile_image{
    			height: 120px;
    			width: 120px;
    			margin-bottom: 30px;
    			.edit_icon{
    				height: 28px;
    				width: 28px;
    				i{
    					font-size: 13px;
    				}
    			}
    		}
    		.form_area {
    			.btn_save{
    				margin-top: 25px;
    			}
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.edit_profile_section{
    	padding: 30px 0;
    	.inner_edit{
    		width: 670px;
    		padding: 30px;
    		.profile_image{
    			height: 120px;
    			width: 120px;
    			margin-bottom: 30px;
    			.edit_icon{
    				height: 28px;
    				width: 28px;
    				i{
    					font-size: 13px;
    				}
    			}
    		}
    		.form_area {
    			.btn_save{
    				margin-top: 25px;
    			}
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.edit_profile_section{
    	padding: 25px 0;
    	.inner_edit{
    		width: 670px;
    		padding: 20px;
    		.profile_image{
    			height: 110px;
    			width: 110px;
    			margin-bottom: 30px;
    			.edit_icon{
    				height: 28px;
    				width: 28px;
    				i{
    					font-size: 13px;
    				}
    			}
    		}
    		.form_area {
    			.btn_save{
    				margin-top: 15px;
    			}
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.edit_profile_section{
    	padding: 25px 0;
    	.inner_edit{
    		width: 670px;
    		padding: 20px;
    		.profile_image{
    			height: 110px;
    			width: 110px;
    			margin-bottom: 30px;
    			.edit_icon{
    				height: 28px;
    				width: 28px;
    				i{
    					font-size: 13px;
    				}
    			}
    		}
    		.form_area {
    			.btn_save{
    				margin-top: 15px;
    			}
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}