@use "../base/variable.scss";
@use "../base/mixins.scss";


.error_section{
	padding: 90px 0;
	.inner_area{
		.img_area{
			height: 305px;
			width: 470px;
			margin: 0 auto;
			margin-bottom: 15px;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		h3{
			font-size: 35px;
			font-weight: 500;
			color: variable.$white;
			margin-bottom: 40px;
			text-align: center;
		}
		.btn_area{
			text-align: center;
			.btn-primary{}
		}
	}
}




/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .error_section{
    	padding: 70px 0;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .error_section{
    	padding: 60px 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.error_section{
    	padding: 45px 0;
    	.inner_area {
    		.img_area{
    			height: 230px;
    			width: 405px;
    		}
    		h3{
    			font-size: 30px;
    			margin-bottom: 30px;
    		}
    	}
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.error_section{
    	padding: 40px 0;
    	.inner_area {
    		.img_area{
    			height: 230px;
    			width: 405px;
    		}
    		h3{
    			font-size: 30px;
    			margin-bottom: 30px;
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.error_section{
    	padding: 35px 0;
    	.inner_area {
    		.img_area{
    			height: 185px;
    			width: 345px;
    		}
    		h3{
    			font-size: 26px;
    			margin-bottom: 25px;
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.error_section{
    	padding: 30px 0;
    	.inner_area {
    		.img_area{
    			height: 135px;
    			width: 270px;
    		}
    		h3{
    			font-size: 22px;
    			margin-bottom: 25px;
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}