@use "../base/variable.scss";
@use "../base/mixins.scss";


.footer_section{
	background-color: variable.$secondary_color;
	.inner_footer{
		.top_area{
			padding: 15px 0;
			border-bottom: 1px solid variable.$grey2;
			.cms_list{
				display: flex;
				justify-content: center;
				li{
					display: inline-block;
					margin-right: 20px;
					position: relative;
					&::before{
						content: "";
						border-bottom: 1px solid variable.$white;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						opacity: 0;
						@include mixins.transition(all .5s ease-in-out);
						@include mixins.scale(0);
					}
					.txt{
						display: inline-block;
						font-size: 14px;
						font-weight: 500;
						color: variable.$off_white;
						@include mixins.transition(all .5s ease-in-out);
					}
					&:hover,&.active{
						.txt{
							color: variable.$white;
						}
						&::before{
							opacity: 1;
							@include mixins.scale(1);
						}
					}
				}
			}
		}
		.bottom_area{
			padding: 15px 0;
			@include mixins.clearfix();
			.left{
				float: left;
				width:calc(100% - 100px);
				p{
					font-size:14px;
					font-weight:500;
					color: variable.$off_white;
					.globiz{
						color: variable.$off_white;
						position: relative;
						&::before{
							content:"";
							border-bottom: 1px solid variable.$off_white;
							position: absolute;
							bottom: 0;
							left:0;
							right:0;
							@include mixins.scale(0);
							opacity: 0;
							@include mixins.transition(all .5s ease-in-out);
						}
						&:hover,&.active{
							&::before{
								opacity: 1;
								@include mixins.scale(1);
							}
						}
					}
				}
			}
			.right{
				float: right;
				width: 100px;
				text-align: end;
				.social_icon{
					li{
						display: inline-block;
						margin-right: 15px;
						.icon{
							i{
								font-size: 16px;
								color: variable.$white;
							}
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}




/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.footer_section {
		padding: 12px 0;
		.inner_footer {
			.top_area{
				.cms_list{
				    flex-wrap: wrap;
    				row-gap: 8px;
				}
			}
			.bottom_area{
				display: flex;
				flex-wrap: wrap;
				.left{
					float: none;
					width: 100%;
					order: 1;
					p{
						text-align: center;
					}
				}
				.right{
					float: none;
					width: 100%;
					order:0;
					margin-bottom: 10px;
					.social_icon{
						text-align: center;
					}
				}
			}
		}
	}
}

/* Smaller phones */
@media (max-width: 360px) {
	.footer_section {
		padding: 12px 0;
		.inner_footer {
			.top_area{
				.cms_list{
				    flex-wrap: wrap;
    				row-gap: 8px;
				}
			}
			.bottom_area{
				display: flex;
				flex-wrap: wrap;
				.left{
					float: none;
					width: 100%;
					order: 1;
					p{
						text-align: center;
					}
				}
				.right{
					float: none;
					width: 100%;
					order:0;
					margin-bottom: 10px;
					.social_icon{
						text-align: center;
					}
				}
			}
		}
	}
}

/* Smaller phones */
@media (max-width: 320px) {
    
}