@use "../base/variable.scss";
@use "../base/mixins.scss";


.profile_info_section{
	padding-bottom: 30px;
	.inner_area{
		@include mixins.clearfix();
		background-color:variable.$secondary_color;
		padding: 30px;
		display: flex;
		align-items: end;
		position: relative;
		z-index: 2;
		&::before{
			content: "";
			height: 50px;
			width: 100%;
			background-color: variable.$primary_color;
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			z-index: 1;
		}
		.left_info{
			float: left;
			width: 138px;
			position: relative;
			z-index: 3;
			.img_info{
				height: 138px;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
		.right_info{
			float: right;
			width: calc(100% - 138px);
			padding-left: 20px;
			position: relative;
			z-index: 3;
			display: flex;
			align-items: end;
			justify-content: space-between;
			.content_area{
				h3{
					font-size: 24px;
					font-weight: 400;
					color: variable.$white;
					line-height: 30px;
					margin-bottom: 10px;
				}
				.txt{
					font-size: 16px;
					font-weight: 400;
					color: variable.$white;
					line-height: 20px;
				}
			}
			.btn_area{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: end;
				gap: 15px;
				.btn-primary{
					min-width: 170px;
					padding: 12px 20px;
					background-color: transparent;
					border: 1px solid variable.$white;
					&:hover,&.active,&:focus{
						background-color: variable.$white;
						color: variable.$black;
					}
				}
			}
		}
	}
}

.card_section{
	padding-bottom: 56px;
	.inner_area{
		.inner_card{
			padding: 30px;
			background-color: variable.$secondary_color;
			.plan_main{
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;
				.plan_title{
					.txt{
						font-size: 16px;
						font-weight: 400;
						color: variable.$white;
						margin-bottom: 5px;
					}
					.basic{
						font-size: 26px;
						font-weight: 400;
						color: variable.$white;
					}
				}
				.btn_main{
					.status{
						font-size: 16px;
						font-weight: 400;
						color: variable.$black;
						padding: 5px 20px;
						border-radius: 5px;
						box-shadow: 0px 4px 20px 0px #00000066;
						text-align: center;
						display: inline-block;
						min-width: 128px;
						height: auto;
						background-color: variable.$yellow_color;
					}
				}
			}
			.expire_area{
				display: flex;
				align-items: end;
				justify-content: space-between;
				margin-bottom: 30px;
				.price_main{
					font-size: 40px;
					font-weight: 500;
					color: variable.$white;
					span{
						font-weight: 400;
						font-size: 14px;
						vertical-align: top;
					    position: relative;
    					top: 4px;
						&.week{
							vertical-align: bottom;
							top: 0;
						}
					}
				}
				.expire{
					font-size: 16px;
					font-weight: 400;
					color: variable.$white;
				}
			}
			.btn_area{
				display: flex;
				align-items: center;
				gap:20px;
				.btn-primary{
					width: 100%;
					border: 1px solid variable.$primary_color;
					&.deactive{
						border: 1px solid variable.$white;
						background-color: transparent;
						&:hover,&.active,&:focus{
							background-color: variable.$white;
							color: variable.$black;
						}
					}
				}
			}
			.top{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 45px;
				.img_card{
					height: 60px;
					width: 60px;
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.btn_remove{
					.btn-primary{
						font-size: 14px;
						font-weight: 400;
						background-color: transparent;
						border: 1px solid variable.$white;
						&:focus,&:hover,&.active{
							background-color: variable.$white;
							color: variable.$black;
						}
					}
				}
			}
			.number{
				font-size: 24px;
				font-weight: 400;
				color: variable.$white;
				margin-bottom: 42px;
			}
			.bottom{
				display: flex;
				justify-content: space-between;
				.name{
					font-size: 16px;
					font-weight: 400;
					color: variable.$white;
				}
				.expiers{
					@extend .name;
				}
			}
			&.card_add{
				display: flex;
				justify-content: center;
				align-items: center;
				.add_card{
					display: inline-block;
					text-align: center;
					.img_add{
						height: 36px;
						width: 36px;
						margin: 0 auto;
						margin-bottom: 10px;
						img{
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
					}
					.title{
						font-size: 14px;
						font-weight: 400;
						color: variable.$white;
					}
				}
			}
		}
	}
}

.order_section{
	padding-bottom: 56px;
	.inner_area{
		background-color: variable.$secondary_color;
		.top_area{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 30px 40px 30px;
			.title{
				font-size: 24px;
				font-weight: 400;
				color: variable.$white;
				line-height: 30px;
			}
			.view_btn{
				.btn-primary{
					background-color: transparent;
					border: 1px solid variable.$white;
					padding: 12px 20px;
					&:hover,&.active,&:focus{
						background-color: variable.$white;
						color: variable.$black;
					}
				}
			}
		}
		.bottom_area{
			padding: 0 30px 30px 30px;
			.table-responsive{
				table{
					width: 100%;
					thead{
						border: 1px solid variable.$white;
						border-radius: 5px;
						overflow: hidden;
						tr{
							th{
								font-size: 16px;
								font-weight: 400;
								color: variable.$white;
								line-height: 20px;
								padding: 20px;
								white-space: nowrap;
							}
						}
					}
					tbody{
						tr{
							td{
								font-size: 14px;
								font-weight: 400;
								color: variable.$white;
								padding:20px;
								white-space: nowrap;
								span{
									color: variable.$primary_color;
								}
								.status{
									padding: 5px 20px;
									border-radius: 5px;
									text-align: center;
									display: inline-block;
									min-width: 100px;
									&.pending{
										background-color: variable.$black;
										color:variable.$white;
									}
									&.delivered{
										background-color: variable.$yellow_color;
										color: variable.$black;
									}
								}
								.btn-primary{
									padding: 12px 20px;
								}
							}
							&:nth-child(even){
								background-color: variable.$border_color2;
							}
						}
					}
				}
			}
		}
	}
}


/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .card_section{
    	padding-bottom: 45px;
    }

    .order_section{
    	padding-bottom: 45px;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .card_section{
    	padding-bottom: 45px;
    }

    .order_section{
    	padding-bottom: 45px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.profile_info_section {
		padding-bottom: 25px;
		.inner_area{
			padding: 25px;
			&::before{
				height: 40px;
			}
			.left_info{
				width: 125px;
				.img_info{
					height: 125px;
				}
			}
			.right_info{
				width: calc(100% - 125px);
				padding-left: 15px;
				.content_area {
					h3{
						font-size: 22px;
						line-height: 24px;
					}
					.txt{
						font-size: 14px;
					}
				}
			}
		}
	}

    .card_section{
    	padding-bottom: 40px;
    	.inner_area {
    		.inner_card{
    			padding: 25px;
    			.plan_main {
    				.plan_title {
    					.txt{
    						font-size: 14px;
    					}
    					.basic{
    						font-size: 22px;
    					}
    				}
    				.btn_main {
    					.status{
    						font-size: 15px;
    					}
    				} 
    			}
    			.expire_area {
    				margin-bottom: 25px;
    				.price_main{
    					font-size: 35px;
    				}
    				.expire{
    					font-size: 15px;
    				}
    			}
    			.top {
    				margin-bottom: 30px;
    				.img_card{
    					height: 50px;
    					width: 50px;
    				}
    				.btn_remove {
    					.btn-primary{
							padding: 12px 20px;
    					}
    				}
    			}
    			.number{
    				font-size: 22px;
    				margin-bottom: 30px;
    			}
    		}
    	}
    }

    .order_section{
    	padding-bottom: 40px;
    	.inner_area {
    		.top_area {
			    padding: 15px 25px 30px 25px;
    			.title{
    				font-size: 22px;
    			}
    		}
    		.bottom_area {
			    padding: 0px 25px 25px 25px;
    			.table-responsive {
    				table {
    					thead {
    						tr {
    							th{
    								font-size: 15px;
    								padding: 15px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							td{
    								padding: 15px;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .profile_info_section {
		padding-bottom: 25px;
		.inner_area{
			padding: 25px;
			&::before{
				height: 36px;
			}
			.left_info{
				width: 125px;
				.img_info{
					height: 125px;
				}
			}
			.right_info{
				width: calc(100% - 125px);
				padding-left: 15px;
				.content_area {
					h3{
						font-size: 20px;
						line-height: 22px;
					}
					.txt{
						font-size: 14px;
					}
				}
			}
		}
	}

    .card_section{
    	padding-bottom: 35px;
    	.inner_area {
    		.inner_card{
    			padding: 20px;
    			.plan_main {
    				.plan_title {
    					.txt{
    						font-size: 14px;
    					}
    					.basic{
    						font-size: 20px;
    					}
    				}
    				.btn_main {
    					.status{
    						font-size: 14px;
    					}
    				} 
    			}
    			.expire_area {
    				margin-bottom: 25px;
    				.price_main{
    					font-size: 30px;
    				}
    				.expire{
    					font-size: 14px;
    				}
    			}
    			.top {
    				margin-bottom: 25px;
    				.img_card{
    					height: 50px;
    					width: 50px;
    				}
    				.btn_remove {
    					.btn-primary{
							padding: 10px 20px;
							min-width: 110px;
    					}
    				}
    			}
    			.number{
    				font-size: 20px;
    				margin-bottom: 25px;
    			}
    			.btn_area{
    				.btn-primary{
    					padding: 12px 20px;
    				}
    			}
    		}
    	}
    }

    .order_section{
    	padding-bottom: 35px;
    	.inner_area {
    		.top_area {
			    padding: 15px 20px 25px 20px;
    			.title{
    				font-size: 20px;
    			}
    		}
    		.bottom_area {
			    padding: 0px 20px 20px 20px;
    			.table-responsive {
    				table {
    					thead {
    						tr {
    							th{
    								font-size: 15px;
    								padding: 15px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							td{
    								padding: 15px;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .profile_info_section {
		padding-bottom: 25px;
		.inner_area{
			padding: 18px;
			&::before{
				height: 36px;
			}
			.left_info{
				width: 115px;
				.img_info{
					height: 115px;
				}
			}
			.right_info{
				width: calc(100% - 115px);
				padding-left: 15px;
				.content_area {
					h3{
						font-size: 18px;
						line-height: 22px;
					}
					.txt{
						font-size: 14px;
					}
				}
				.btn_area{
					.btn-primary{
					    min-width: 145px;
    					padding: 10px 12px;
    					font-size: 13px;
					}
				}
			}
		}
	}

    .card_section{
    	padding-bottom: 30px;
    	.inner_area {
    		.row{
    			margin-right: -7px;
    			margin-left: -7px;
    			[class*=col-]{
    				padding-left: 8px;
    				padding-right: 8px;
    			}
    		}
    		.inner_card{
    			padding: 15px;
    			.plan_main {
    				.plan_title {
    					.txt{
    						font-size: 14px;
    					}
    					.basic{
    						font-size: 18px;
    					}
    				}
    				.btn_main {
    					.status{
    						font-size: 14px;
    					}
    				} 
    			}
    			.expire_area {
    				margin-bottom: 25px;
    				.price_main{
    					font-size: 30px;
    				}
    				.expire{
    					font-size: 14px;
    				}
    			}
    			.top {
    				margin-bottom: 25px;
    				.img_card{
    					height: 50px;
    					width: 50px;
    				}
    				.btn_remove {
    					.btn-primary{
							padding: 10px 20px;
							min-width: 110px;
    					}
    				}
    			}
    			.number{
    				font-size: 18px;
    				margin-bottom: 25px;
    			}
    			.btn_area{
    				.btn-primary{
    					padding: 12px 20px;
    				}
    			}
    			.bottom{
    				.name{
    					font-size: 14px;
    				}
    			}
    		}
    	}
    }

    .order_section{
    	padding-bottom: 30px;
    	.inner_area {
    		.top_area {
			    padding: 15px 20px 25px 20px;
    			.title{
    				font-size: 18px;
    			}
    			.view_btn{
    				.btn-primary{
    					padding: 10px 15px;
    					min-width: 105px;
    				}
    			}
    		}
    		.bottom_area {
			    padding: 0px 20px 20px 20px;
    			.table-responsive {
    				table {
    					thead {
    						tr {
    							th{
    								font-size: 14px;
    								padding: 15px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							td{
    								padding: 15px;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .profile_info_section {
		padding-bottom: 25px;
		.inner_area{
			padding: 18px;
			align-items: start;
			&::before{
				height: 15px;
			}
			.left_info{
				width: 100px;
				.img_info{
					height: 100px;
				}
			}
			.right_info{
				width: calc(100% - 100px);
				padding-left: 15px;
				flex-wrap: wrap;
				.content_area {
					margin-bottom: 10px;
					h3{
						font-size: 18px;
						line-height: 22px;
					}
					.txt{
						font-size: 14px;
					}
				}
				.btn_area{
					.btn-primary{
					    min-width: 145px;
    					padding: 10px 12px;
    					font-size: 13px;
					}
				}
			}
		}
	}

    .card_section{
    	padding-bottom: 25px;
    	.inner_area {
    		.row{
    			margin-right: -7px;
    			margin-left: -7px;
    			[class*=col-]{
    				padding-left: 8px;
    				padding-right: 8px;
    			}
    		}
    		.inner_card{
    			padding: 15px;
    			margin-bottom: 15px;
    			.plan_main {
    				.plan_title {
    					.txt{
    						font-size: 14px;
    					}
    					.basic{
    						font-size: 18px;
    					}
    				}
    				.btn_main {
    					.status{
    						font-size: 14px;
    					}
    				} 
    			}
    			.expire_area {
    				margin-bottom: 25px;
    				.price_main{
    					font-size: 30px;
    				}
    				.expire{
    					font-size: 14px;
    				}
    			}
    			.top {
    				margin-bottom: 25px;
    				.img_card{
    					height: 50px;
    					width: 50px;
    				}
    				.btn_remove {
    					.btn-primary{
							padding: 10px 20px;
							min-width: 110px;
    					}
    				}
    			}
    			.number{
    				font-size: 18px;
    				margin-bottom: 25px;
    			}
    			.btn_area{
    				.btn-primary{
    					padding: 12px 20px;
    				}
    			}
    			.bottom{
    				.name{
    					font-size: 14px;
    				}
    			}
    			&.card_add{
    				min-height: 130px;
    				.add_card {
    					.img_add{
    						height: 30px;
    						width: 30px;
    					}
    				}
    			}
    		}
    	}
    }

    .order_section{
    	padding-bottom: 25px;
    	.inner_area {
    		.top_area {
			    padding: 15px 20px 25px 20px;
    			.title{
    				font-size: 16px;
    			}
    			.view_btn{
    				.btn-primary{
    					padding: 10px 15px;
    					min-width: 100px;
    				}
    			}
    		}
    		.bottom_area {
			    padding: 0px 20px 20px 20px;
    			.table-responsive {
    				table {
    					thead {
    						tr {
    							th{
    								font-size: 14px;
    								padding: 15px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							td{
    								padding: 15px;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .profile_info_section {
		padding-bottom: 25px;
		.inner_area{
			padding: 18px;
			align-items: start;
			&::before{
				height: 15px;
			}
			.left_info{
				width: 100px;
				.img_info{
					height: 100px;
				}
			}
			.right_info{
				width: calc(100% - 100px);
				padding-left: 15px;
				flex-wrap: wrap;
				.content_area {
					margin-bottom: 10px;
					h3{
						font-size: 18px;
						line-height: 22px;
					}
					.txt{
						font-size: 14px;
					}
				}
				.btn_area{
					.btn-primary{
					    min-width: 145px;
    					padding: 10px 12px;
    					font-size: 13px;
					}
				}
			}
		}
	}

    .card_section{
    	padding-bottom: 25px;
    	.inner_area {
    		.row{
    			margin-right: -7px;
    			margin-left: -7px;
    			[class*=col-]{
    				padding-left: 8px;
    				padding-right: 8px;
    			}
    		}
    		.inner_card{
    			padding: 15px;
    			margin-bottom: 15px;
    			.plan_main {
    				.plan_title {
    					.txt{
    						font-size: 14px;
    					}
    					.basic{
    						font-size: 18px;
    					}
    				}
    				.btn_main {
    					.status{
    						font-size: 14px;
    					}
    				} 
    			}
    			.expire_area {
    				margin-bottom: 25px;
    				.price_main{
    					font-size: 30px;
    				}
    				.expire{
    					font-size: 14px;
    				}
    			}
    			.top {
    				margin-bottom: 25px;
    				.img_card{
    					height: 50px;
    					width: 50px;
    				}
    				.btn_remove {
    					.btn-primary{
							padding: 10px 20px;
							min-width: 110px;
    					}
    				}
    			}
    			.number{
    				font-size: 18px;
    				margin-bottom: 25px;
    			}
    			.btn_area{
    				.btn-primary{
    					padding: 12px 20px;
    				}
    			}
    			.bottom{
    				.name{
    					font-size: 14px;
    				}
    			}
    			&.card_add{
    				min-height: 130px;
    				.add_card {
    					.img_add{
    						height: 30px;
    						width: 30px;
    					}
    				}
    			}
    		}
    	}
    }

    .order_section{
    	padding-bottom: 25px;
    	.inner_area {
    		.top_area {
			    padding: 15px 20px 25px 20px;
    			.title{
    				font-size: 16px;
    			}
    			.view_btn{
    				.btn-primary{
    					padding: 10px 15px;
    					min-width: 100px;
    				}
    			}
    		}
    		.bottom_area {
			    padding: 0px 20px 20px 20px;
    			.table-responsive {
    				table {
    					thead {
    						tr {
    							th{
    								font-size: 14px;
    								padding: 15px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							td{
    								padding: 15px;
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}