@use "../base/variable.scss";
@use "../base/mixins.scss";



.login_section{
	padding: 90px 0;
	.inner_area{
		width:526px;
		max-width: 100%;
		margin: 0 auto;
		background-color: variable.$secondary_color;
		padding: 40px;
		.title{
			margin-bottom: 40px;
			h3{
				font-size: 35px;
				font-weight: 600;
				color: variable.$white;
				text-align: center;
				margin-bottom: 20px;
			}
			p{
				font-size: 15px;
				font-weight: 400;
				color: variable.$white;
				line-height: 21px;
				text-align: center;
			}
		}
		.form_area{
			.forgot_btn{
				text-align: end;
				// margin-bottom: 40px;
				.forgot{
					display: inline-block;
					font-size: 15px;
					font-weight: 400;
					color: variable.$primary_color;
					position: relative;
					&::before{
						content: "";
						border-bottom: 1px solid variable.$primary_color;
						position: absolute;
						bottom: 0;
						left:0;
						right:0;
						opacity: 0;
						@include mixins.scale(0);
						@include mixins.transition(all .5s ease-in-out);
					}
					&:hover,&.active{
						&::before{
							opacity: 1;
							@include mixins.scale(1)
						}
					}
				}
			}
			.form-group{
				display:block;
				.form-check{
					display: inline-block;
					margin-right:20px;
					&:last-child{
						margin-right:0;
					}
					.form-check-input{
						&:checked{
							background-color: variable.$primary_color;
							border-color: variable.$primary_color;
						}
						&:focus{
							box-shadow: none;
							outline: none;
						}
					}
					.form-check-label{
						font-size: 15px;
						font-weight: 400;
						color: variable.$white;
					}
				}
			}
		}
		.btn_login{
			margin-top: 40px;
			.btn-primary{
				display: block;
				width: 100%;
			}
		}
		.account_main{
			margin-top: 40px;
			p{
				font-size: 14px;
				font-weight: 400;
				color: variable.$white;
				text-align: center;
				.sign{
					color: variable.$primary_color;
					position: relative;
					&::before{
						content: "";
						border-bottom: 1px solid variable.$primary_color;
						position: absolute;
						bottom: 0;
						left:0;
						right:0;
						opacity: 0;
						@include mixins.scale(0);
						@include mixins.transition(all .5s ease-in-out);
					}
					&:hover,&.active{
						&::before{
							opacity: 1;
							@include mixins.scale(1)
						}
					}
				}
			}
		}
	}
}






/* Above 1920 desktop */
@media (min-width: 1920px){
    
}

/* 1680 desktop */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* 1600 desktop */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Above 1400 and Below 1599 Desktop*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* 1300 desktop only */
@media (min-width: 1300px) and (max-width: 1399px){
    .login_section{
    	padding: 70px 0;
    }
}

/* 1200 desktop only */
@media (min-width: 1200px) and (max-width: 1299px){
    .login_section{
    	padding: 60px 0;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.login_section{
    	padding: 40px 0;
    	.inner_area{
    		width: 470px;
    		padding: 30px;
    		.title {
    			margin-bottom: 30px;
    			h3{
    				font-size: 30px;
    				margin-bottom: 15px;
    			}
    			p{
    				font-size: 14px;
    			}
    		}
    		.form_area {
    		}
    		.btn_login{
				margin-top: 30px;
			}
    		.account_main{
    			margin-top: 30px;
    		}
    	}
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	.login_section{
    	padding: 40px 0;
    	.inner_area{
    		width: 470px;
    		padding: 30px;
    		.title {
    			margin-bottom: 30px;
    			h3{
    				font-size: 30px;
    				margin-bottom: 15px;
    			}
    			p{
    				font-size: 14px;
    			}
    		}
    		.form_area {
    		}
    		.btn_login{
				margin-top: 30px;
			}
    		.account_main{
    			margin-top: 30px;
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.login_section{
    	padding: 30px 0;
    	.inner_area{
    		width: 400px;
    		padding: 25px;
    		.title {
    			margin-bottom: 25px;
    			h3{
    				font-size: 25px;
    				margin-bottom: 12px;
    			}
    			p{
    				font-size: 14px;
    			}
    		}
    		.form_area {
    			.forgot_btn{
    				.forgot{
    					font-size: 14px;
    				}
    			}
    		}
    		.btn_login{
				margin-top: 25px;
			}
    		.account_main{
    			margin-top: 25px;
    		}
    	}
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.login_section{
    	padding: 30px 0;
    	.inner_area{
    		width: 100%;
    		padding: 15px;
    		.title {
    			margin-bottom: 25px;
    			h3{
    				font-size: 22px;
    				margin-bottom: 12px;
    			}
    			p{
    				font-size: 14px;
    			}
    		}
    		.form_area {
    			.forgot_btn{
    				.forgot{
    					font-size: 14px;
    				}
    			}
    		}
    		.btn_login{
				margin-top: 25px;
			}
    		.account_main{
    			margin-top: 25px;
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.login_section{
    	padding: 30px 0;
    	.inner_area{
    		width: 100%;
    		padding: 15px;
    		.title {
    			margin-bottom: 25px;
    			h3{
    				font-size: 22px;
    				margin-bottom: 12px;
    			}
    			p{
    				font-size: 14px;
    			}
    		}
    		.form_area {
    			.forgot_btn{
    				margin-bottom: 25px;
    				.forgot{
    					font-size: 14px;
    				}
    			}
    		}
    		.btn_login{
				margin-top: 25px;
			}
    		.account_main{
    			margin-top: 25px;
    		}
    	}
    }
}

/* Smaller phones */
@media (max-width: 320px) {
    
}




/* Add CSS styles for Portrait orientation */
@media screen and (orientation: portrait) {
    
}

/* Add CSS styles for Landscape orientation */
@media screen and (orientation: landscape) {
    
}