$black: #111111;
$white: #ffffff;
$grey: #707173;

$primary_color: #DE383A;
$secondary_color: #222222;

// Social Icons Color
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;
$rss: #e98735;

$off_white:#FFFFFFCC;
$border_color:#737373;
$border_color2:#333333;
$yellow_color:#F6BC49;
$border_color3:#E5E5E5;
$bg_color:#444444;
$grey_color:#DCDCDC;
$grey2:#dcdcdc26;
$grey3:#757575;
$grey4:#F0F0F0;