{% extends 'base.html' %}

{% load static %}

{% block title %}
  Blogs
{% endblock %}

{% block content %}
  {% include 'common/breadcrumb.html' with page_title='Blog' %}
  <section class="blog_section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="inner_area">
            <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/1.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/2.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/3.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/4.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/5.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/6.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/7.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card">
                  <div class="img_area">
                    <img src="{% static './images/blog/8.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="blog_card mb-0">
                  <div class="img_area">
                    <img src="{% static './images/blog/9.png' %}" alt="..." title="..." fetchpriority="low" />
                  </div>
                  <div class="content">
                    <div class="date_main">
                      <i class="fal fa-calendar"></i>
                      <div class="text">Fri, March 10</div>
                    </div>
                    <h4>Lorem ipsum dolor</h4>
                    <div class="txt_line">But I must explain to you consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                    <a href="/blog_detail/" class="read_btn">Read More<i class="far fa-long-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
