<!-- === Banner pages start === -->
<section class="banner_section">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="inner_banner">
          <div class="main_title">
            <a href="javascript:;" class="icon" onclick="history.back()"><i class="fal fa-long-arrow-left"></i></a>
            <h3>{{ page_title }}</h3>
          </div>
          <div class="title_stroke">Sandy</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- === Banner pages end === -->
